:root {
  font-family: monospace !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --header-color: #f8f8f8;
  --text-color: #c9c9c9;
  --main-color: #018d6cff;
  --light-main-color: #00ad85ff;
  --dim-main-color: #006e55ff;
  --gray-color: #2f2f2f;
  --input-color: #2e2e2e80;
  --bg-color: #0f0f0f;
  --light-bg-color: #181818;
  --lighter-bg-color: #232323;
  --lightest-bg-color: #2e2e2e;
  --fail-color: #a52100;


  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

  --dot-size: 1px;
  --dot-space: 50px;


  --border-radius: 5px;


  transition: background 250ms ease;
}


:root::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

.invis {
  scale: 0;
  position: fixed;
}

html, body, #root {
  margin: 0px !important;
  bottom: 0px !important;
}

