:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --header-color: #f8f8f8;
  --text-color: #c9c9c9;
  --main-color: #018d6cff;
  --light-main-color: #00ad85ff;
  --dim-main-color: #006e55ff;
  --gray-color: #2f2f2f;
  --input-color: #2e2e2e80;
  --bg-color: #0f0f0f;
  --light-bg-color: #181818;
  --lighter-bg-color: #232323;
  --lightest-bg-color: #2e2e2e;
  --fail-color: #a52100;


  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

  --dot-size: 1px;
  --dot-space: 50px;
  --font-size-modifier: 0px;
  --border-radius: 10px;

  --font: monospace;

  transition: background 250ms ease;

  background:
    linear-gradient(90deg, var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--text-color)
  ;

}

p {
  margin: 0px;
}

.svg {
  -webkit-user-drag: none;
}

* {
  font-family: var(--font) !important;
}

:root::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

.invis {
  scale: 0;
  position: fixed;
}

html, body, #root {
  margin: 0px !important;
  bottom: 0px !important;
}

.unsavedAlert {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  background-color: var(--light-bg-color);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  flex-direction: column;
  gap: 10px;
  display: flex;
  color: var(--header-color);
  border: 1px solid var(--lighter-bg-color);
}

.unsavedAlert p {
  margin: 0px;
  margin-bottom: 10px;
  font-size: calc(16px + var(--font-size-modifier));
}

.buttons {
  display: flex;
  box-sizing: border-box;
  gap: 10px;
  flex-direction: row;
}

.buttons button {
  width: 100%;
  background-color: var(--lighter-bg-color);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 7px;
  border-radius: var(--border-radius);
  padding: 10px;
  cursor: pointer;
  transition: background-color .25s ease;
  color: var(--text-color);
  font-size: calc(14px + var(--font-size-modifier));
  border: 1px solid var(--lightest-bg-color);
}

.buttons button:hover {
  background-color: var(--lightest-bg-color);
}


.content {
    height: fit-content;
    min-height: 100px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.iconWrapper {
    width: fit-content;
    height: fit-content;
    max-height: 20px;
    box-sizing: border-box;
    transform-origin: center center;
    color: var(--header-color);
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

.spin {
    animation: spin 1s;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}


    .uiPopups {
        position: fixed;
        right: 0px;
        top: 0px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        z-index: 100;
    }



  .headerDiv {
    width: fit-content;
    box-sizing: border-box;
    background-color: var(--input-color);
    height: 45px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: var(--border-radius);
    gap: 10px;
    color: var(--header-color);
    backdrop-filter: blur(5px);
    cursor: pointer;
    border: 1px solid var(--lightest-bg-color);
    margin-left: auto;
  }

  .headerDiv.anim {
    transition: background-color .25s ease;
  }

  .headerDiv:hover {
    background-color: var(--lightest-bg-color);
  }

  .headerDiv p, .zoomLevel p {
    font-size: calc(16px + var(--font-size-modifier));
    color: var(--header-color);
    margin: 0px;
  }



  
  @keyframes yay {
    0% { transform: rotate(0deg); }
    33% { transform: rotate(-45deg) scale(0.8); }
    66% { transform: rotate(45deg) scale(1.1); }
    100% { transform: rotate(0deg); }
  }

  .yay {
    animation: yay 2s;
    animation-delay: 1s;
  }

  @keyframes dang {
    25% { transform: rotate(0deg) scale(1.2); }
    100% { transform: rotate(3600deg) scale(0); }
  }

  .error {
    animation: dang 4s;
    animation-delay: 1s;
  }