:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

--header-color: #e1e6f8ff;
--text-color: #cdd6f4;
--main-color: #60995aff;
--light-main-color: #7cca76ff;
--dim-main-color: #53884eff;
--gray-color: #313244;
--input-color: #39395780;
--bg-color: #1e1e2e;
--light-bg-color: #242436ff;
--lighter-bg-color: #2e2e46ff;
--lightest-bg-color: #393957ff;
--fail-color: #df6174ff;



  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

  --dot-size: 1px;
  --dot-space: 50px;
  --font-size-modifier: 0px;
  --border-radius: 10px;

  transition: background 250ms ease;


  background:
      linear-gradient(90deg, var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--text-color)
  ;

}

.svg {
  -webkit-user-drag: none;
}

* {
  font-family: monospace !important;
}

:root::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

.invis {
  scale: 0;
  position: fixed;
}

html, body, #root {
  margin: 0px !important;
  bottom: 0px !important;
}

.unsavedAlert {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  background-color: var(--light-bg-color);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  flex-direction: column;
  gap: 10px;
  display: flex;
  color: var(--header-color);
  border: 1px solid var(--lighter-bg-color);
}

.unsavedAlert p {
  margin: 0px;
  margin-bottom: 10px;
  font-size: calc(16px + var(--font-size-modifier));
}

.buttons {
  display: flex;
  box-sizing: border-box;
  gap: 10px;
  flex-direction: row;
}

.buttons button {
  width: 100%;
  background-color: var(--lighter-bg-color);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 7px;
  border-radius: var(--border-radius);
  padding: 10px;
  cursor: pointer;
  transition: background-color .25s ease;
  color: var(--text-color);
  font-size: calc(14px + var(--font-size-modifier));
  border: 1px solid var(--lightest-bg-color);
}

.buttons button:hover {
  background-color: var(--lightest-bg-color);
}
